__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg
htmlcov/
coverage.xml
docs/_build/

# Project specific
hooks
.DS_Store
