[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flake8 = "*"
gitpython = "*"

[dev-packages]
pytest = "*"
black = {version="*", markers="python_version >= '3.6'"}

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
